BasedOnStyle: LLVM
IndentWidth: 4

AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignOperands: Align

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

BinPackParameters: false
BinPackArguments: false

BreakTemplateDeclarations: Yes
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: NonAssignment

InsertBraces: true

PackConstructorInitializers: NextLine

PenaltyReturnTypeOnItsOwnLine: 9999